.topbackground
  .create-screen
    = form_with url: new_game_path, method: "get", local: "true" do |f|
      %br/
      .create-screen__title How many cells ?
      %br/
      .create-screen__label
        = f.label("Number of cells :")
        = f.radio_button :cell, "6", required: ""
        = f.label :cell, "6", {value: "6", style: "display: inline-block;", style: "vertical-align: middle;", class: "create-screen__label--one"}
        = f.radio_button :cell, "8"
        = f.label :cell, "8", {value: "8", style: "display: inline-block;", style: "vertical-align: middle;", class: "create-screen__label--one"}
        = f.radio_button :cell, "9"
        = f.label :cell, "9", {value: "9", style: "display: inline-block;", style: "vertical-align: middle;", class: "create-screen__label--one"}
        = f.radio_button :cell, "10"
        = f.label :cell, "10", {value: "10", style: "display: inline-block;", style: "vertical-align: middle;", class: "create-screen__label--one"}
      .create-screen__main
        %canvas#canvasCellsNum
      .create-screen__foot
        %button.create-screen__foot--backbtn
          %i.fas.fa-arrow-circle-left
          back
        %button.create-screen__foot--nextbtn{type: "submit"}
          %i.fas.fa-arrow-circle-right
          next
  .created-screen
    .created-screen__backbtn
      %i.far.fa-times-circle
    .created-screen__top
      .created-screen__top--title Which one ?
      = form_with url: root_path, id: "sortForm", method: "get", remote: "true" do |f|
        = f.label("Sort by number of cells :", class: "sort-label")
        = f.radio_button :sort, "6"
        = f.label :sort, "6", {value: "6", style: "display: inline-block;", style: "vertical-align: middle;"}
        = f.radio_button :sort, "8"
        = f.label :sort, "8", {value: "8", style: "display: inline-block;", style: "vertical-align: middle;"}
        = f.radio_button :sort, "9"
        = f.label :sort, "9", {value: "9", style: "display: inline-block;", style: "vertical-align: middle;"}
        = f.radio_button :sort, "10"
        = f.label :sort, "10", {value: "10", style: "display: inline-block;", style: "vertical-align: middle;"}
        %button.sortbtn{type: "submit"} Sort
        %button.sortclearbtn{type: "submit", onclick: "sortClear()"} Clear
    .created-screen__list
      .created-screen__list--main
        - @games.each do |game|
          .created-screen__list--main--one
            = link_to game_path(game.id) do
              .created-screen__list--main--one--cell
                = game.cell
                x
                =game.cell
              .created-screen__list--main--one--title
                = game.name
        .pagenate
          = paginate @games, remote: "true"
  .description-screen
    .description-screen__backbtn
      %i.far.fa-times-circle
    .description-screen__contents
      %br/
      .descriptiontitle Game Description
      %br/
      %br/
      This game is a very simple puzzle game.
      %br/
      Several numbers with a certain meaning are written on a game board composed of many cells.
      %br/
      What it means is,
      %br/
      .color-red " There is a square or rectangular box that contains only one cell with number and uses that number of cells. "
      Based on this rule,
      %br/
      if you can be filled all cells with a square or rectangular boxs, clear the game !
      %br/
      %br/
      .descriptiontitle ゲーム説明
      %br/
      %br/
      このゲームは、とても簡単なルールのパズルゲームです。
      %br/
      いくつかのマスによって構成されたゲーム盤に、ある意味を持つ数字が複数書き込まれています。
      %br/
      これらの数字が持つその意味とは、
      %br/
      .color-red 『 数字が書き込まれたマスをひとマスだけ含み、その数字分のマスで構成された正方形もしくは長方形のBoxが存在する。 』
      というものです。
      %br/
      このルールに基づき、全てのマスを正方形もしくは長方形のBoxで埋めることができたらゲームクリアです！
  .game-screen
    .game-screen__notice-message
      - if flash[:notice]
        = flash[:notice]
    .game-screen__title
      .game-screen__title--english
        .english-b B
        .english-o O
        = link_to hell_games_path do
          .english-x X
        .english-u U
        .english-j J
        .english-i I
      .game-screen__title--japanese
        ぼっくすうじ

    .game-screen__quiz-lists
      .game-screen__quiz-lists--create-game
        %i.far.fa-plus-square
        Create
      .game-screen__quiz-lists--created-game
        %i.far.fa-list-alt
        Created

    .game-screen__btn-lists
      .game-screen__btn-lists--description
        #description 
          %far.fas.fa-info-circle
          Game Description
      = link_to easy_games_path do
        .game-screen__btn-lists--easy
          .main Easy
          6×6
      = link_to normal_games_path do
        .game-screen__btn-lists--nomal
          .main Normal
          9×9
      = link_to hard_games_path do
        .game-screen__btn-lists--hard
          .main Hard
          12x12