.topbackground
  .description-screen
    .english
      Game Description
      %br/
      This game is a very simple puzzle game.
      %br/
      Two or more number with a certain meaning are written on
      %br/
      a game board composed of several cells.
      %br/
      What it means is
      %br/
      .color-red "A square or rectangle exist the always include the cells  where the numbers are written."
      Based on this rule, just make a box so that all the cells are filled.
    %br/
    ゲーム説明
    %br/
    このゲームは、とても簡単なルールのパズルゲームです。
    %br/
    いくつかのマスによって構成されたゲーム盤に、ある意味を持つ 2 以上の数字がひとつ書き込まれています。
    %br/
    その意味とは、
    %br/
    .color-red 『数字が書き込まれたマスを必ず含み、その数字分のマスを使った正方形もしくは長方形のはBoxが存在する』
    というものです。
    %br/
    あとはこのルールに基づき、全てのマスが埋まるようにBoxを作るだけです。
  .game-screen
    .game-screen__title
      .game-screen__title__english
        BoXuji
      .game-screen__title__japanese
        ぼっくすうじ

    .game-screen__quiz-lists
      = link_to "" do
        .game-screen__quiz-lists__create-game
          %i.fas.fa-plus
          Create
      = link_to "" do
        .game-screen__quiz-lists__created-game
          %i.fas.fa-list
          Created

    .game-screen__btn-lists
      .game-screen__btn-lists__description
        #description Game Description
      = link_to easy_games_path do
        .game-screen__btn-lists__easy
          .main Easy
          6×6
      = link_to normal_games_path do
        .game-screen__btn-lists__nomal
          .main Normal
          9×9
      = link_to hard_games_path do
        .game-screen__btn-lists__hard
          .main Hard
          12x12